- name: Evaluate Namespace eventing-demo
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: false
    api_version: v1
    kind: Namespace
    name: eventing-demo
    state: present

- name: Evaluate Topics
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('file', item) }}"
    namespace: amq-streams
  register: _serving
  retries: 1
  delay: 10
  until: not _serving.failed
  loop:
    - 2.1-topic-broker.yml
    - 2.2-topic-external.yaml

- name: Log in as super user with token on OpenShift 4
  ansible.builtin.command: "oc login --token={{ token }}  --server={{ server }} --insecure-skip-tls-verify={{ insecure_skip_tls_verify }}"
  when:
    - token is defined
    - token is not none
    - token|trim() != ""
  ignore_errors: false
  register: my_output
  changed_when: my_output.rc != 0

- name: Create Services
  ansible.builtin.command: |
      kn service create {{ item }} --image quay.io/openshift-knative/knative-eventing-sources-event-display
       --label app.kubernetes.io/part-of=broker-demo -n eventing-demo
  loop:
    - order-service-display
    - invoice-service-display
  register: my_output
  changed_when: my_output.rc != 0

- name: Evaluate broker-demo Manisfests
  kubernetes.core.k8s:
    api_key: '{{ token }}'
    host: '{{ server }}'
    validate_certs: '{{ verify_tls }}'
    state: present
    resource_definition: "{{ lookup('file', item) }}"
    namespace: eventing-demo
  register: _serving
  retries: 1
  delay: 10
  until: not _serving.failed
  loop:
    - 3-eventing-broker.yml
    - 4.1-trigger-invoice.yml
    - 4.2-trigger-order.yml
    - 5-broker-source.yml
