kind: ConfigMap
apiVersion: v1
metadata:
  name: kafka-ui-config
  immutable: false
data:
  config.yml: |-
    kafka:
      clusters:
        - name: openshift-kafka-server
          bootstrapServers: my-cluster-kafka-bootstrap.{{ kafka_project }}.svc.cluster.local:9092
        # - name: Keda-Kafka-Server
        #   bootstrapServers: my-cluster-kafka-bootstrap.{{ kafka_project }}.svc.cluster.local:9092
    auth:
      type: disabled
    management:
      health:
        ldap:
          enabled: false
